*{
    margin: 0px;
    padding: 0px;
}
.breadcrumb {
    background-color: #edf6ff;

}
.bg-light {
    background-color: #01070d !important;
}
#map{
    width: 100%;
}
#new-img{
    width: 200px;
    display: inline-block;
}
.section3 .box1{
    width: 54.164%;
}
.section3 .box2{
    width: 45.86%;
}

.footer-last ul li{
    list-style: none;
    color: white;
    font-size: 20px;
}
.footer-last ul li a{
    color: white;
}
/* slider section */
.slider-text{
    width: 100%;
    padding: 3% 2%;
    background: rgba(199, 227, 238, 0.582);
    border-radius: 30px;
}
.slider-text p{
    font-size: 20px;
    margin-top: 20px;
    font-style: italic;
    color: grey;
}
.slider-text h3{
    margin-left: 5%;
    font-size: 50px;
    margin-top: 90px;
}
.profile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}


/* media query start */
@media only screen and (max-width:764px){
    .section3 .box1{
        width: 80%;
        margin: 0 auto;
    }
    .section3 .box2{
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:825px){
    
    .footer-last ul li{
        font-size: 10px;
    }

    
}

@media only screen and (max-width:605px){
    footer #new1{
        flex-wrap: wrap;
        flex-direction: column;
    }
    footer #new2{
        flex-wrap: wrap;
        flex-direction: column;
    }


}

